
/* --- Global Styles --- */

body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; margin: 0; padding: 0; }
td, input { font-family: Arial, Helvetica, sans-serif; }
header, section, footer, aside, nav, main, article, figure { display: block; }

h1 { margin-top: 0; margin-bottom: 15px; padding: 3px 10px 3px 10px; font-weight: bold; font-size: 20px; width: 80%; border: 1px solid rgb(50,50,150); }
h1 { background-image: url('../images/backgrounds/bg_lightblue_2.gif'); background-repeat: repeat-x; background-position: center; }
h1 { background: linear-gradient(180deg, #68B6FF 5%, #ECF6FE 95%); }

h2 { margin: 0 0 15px 10px; padding: 3px 10px 3px 10px; font-weight: bold; font-size: 18px; width: 80%; border: 1px solid rgb(100,100,150); }
h2 { background-image: url('../images/backgrounds/bg_lightblue_2.gif'); background-repeat: repeat-x; background-position: center; }
h2 { background: linear-gradient(180deg, #68B6FF 5%, #ECF6FE 95%); box-shadow: 2px 2px 2px darkgray; }

h3 { margin-top: 10px; margin-bottom: 15px; padding: 3px 10px 3px 10px; font-weight: bold; font-size: 14px; width: 80%; border: 1px solid rgb(0,0,50); }
h3 { background-image: url('../images/backgrounds/bg_lightblue_2.gif'); background-repeat: repeat-x; background-position: center; }
h3 { background: linear-gradient(180deg, #68B6FF 5%, #ECF6FE 95%); }

h4 { margin-top: 0; margin-bottom: 3px; padding: 0; font-weight: bold; font-size: 12px; }

li { margin-bottom: 2px; margin-top: 2px; }
form { padding: 0; margin: 0; }
hr { height: 1px; border: 0 none; background-color: gainsboro; padding: 0; margin: 6px 0; }
img.absmiddle { vertical-align: middle; }
pre { padding: 0; margin: 3px 0 3px 0; }

a img { border: 0 none; }
a:link, a:visited, a:active { color: midnightblue; text-decoration: none; }
a:hover { color: midnightblue; text-decoration: underline; }

code { display: block; white-space: pre; padding: 10px; border: 1px solid gray; }

/* --- Page Layout --- */

section { position: relative; }
footer { margin-top: 20px; border-top: 1px solid gainsboro; padding: 10px 0; }
section::after, .outer-container::after { content: ""; clear: both; display: table; }
.main-content-area { padding: 5px 5px; margin: auto; }
.right-edge {  border-right: 1px solid gainsboro; }
.outer-container { min-height: 400px; }

/* --- Form Elements --- */

select { border: 1px solid gray; font-size: 12px; }
input[type=text], input[type=password], textarea { border: 1px solid gray; font-size: 12px; }

input[type=submit], input[type=button] { font-size: 12px; }
input[type=radio] { vertical-align: bottom; }
input[readonly], select[readonly], textarea[readonly] { background-color: gainsboro; }
input[disabled], select[disabled], textarea[disabled] { background-color: gainsboro; }

.x-long  { width: 500px; }
.long    { width: 325px; }
.medium  { width: 240px; }
.short   { width: 120px; }
.x-short { width: 80px;  }

.small { font-size: 10px; }
.input-caption { font-weight: bold; font-size: 12px; }

/* --- Tables --- */

td { font-size: 12px; }
th { font-size: 14px; font-weight: bold; text-align: center; }

/* table stripes */

tr.tbl-stripes-0 { background-image: url('../images/backgrounds/bg_grey_1.gif'); background-repeat: repeat-x; background-position: center; background-color: #AAAAAA; }
tr.tbl-stripes-0 td, tr.tbl-stripes-0 td a { color: white; text-decoration: none; font-weight: bold; }
tr.tbl-stripes-0 td, tr.tbl-stripes-1 td, tr.tbl-stripes-2 td, tr.tbl-stripes-3 td { padding-left: 3px; padding-right: 3px; }
tr.tbl-stripes-1 { background-color: #F2F2F2; }
tr.tbl-stripes-2 { background-color: #E2E2E2; }
tr.tbl-stripes-3 { background-color: #FF9966; }
tr.tbl-stripes-1:hover, tr.tbl-stripes-2:hover { background-color: lemonchiffon; }
td.order-active { background-image: url('../images/icons/icon_order_nil.gif'); background-repeat: no-repeat; background-position: right center; }
td.list-header { font-size: 12px; color: white; text-align: left; font-weight: bold; padding-left: 3px; }
a.list-header:active, a.list-header:link, a.list-header:visited { font-size: 12px; color: white; font-weight: bold; text-decoration: underline; }
a.list-header:hover { color: black; }
td.no-hurry { background-color: yellowgreen; }
td.due { background-color: gold; }
td.overdue { background-color: orangered; }
.center { text-align: center; }


/* --- Pagination --- */

table.pagin{ margin: 10px 0 0 0; }
table.pagin td.paginicon { width: 22px; padding: 1px 5px 0 5px; vertical-align: middle; }
table.pagin td.sites { padding: 1px 0 0 0; vertical-align: middle; }
table.pagin span.akt, table.pagin td a, table.pagin td a:visited { font-weight: bold; font-size: 12px; margin: 0 3px; color: midnightblue; }
table.pagin td span.akt { background: #FFFFFF; border: 1px solid #CFCFCF; height: 18px; padding: 1px 2px; }

/* --- Divs --- */

div.error-message { border: 1px solid gray; background: gold; color: black; padding: 4px 10px 4px 10px; margin: 5px 20px 15px 15px; }
div.message { border: 1px solid gray; background: lightgreen; color: black; padding: 4px 10px 4px 10px; margin: 5px 20px 15px 15px; }
div.debug-message { color: dimgray; }
div.content-box { border: 1px solid gainsboro; padding: 4px 10px 4px 7px;  margin: 10px 20px 10px 0; }

/*   Error Messages   */

.message-user, .message-admin { font-weight: bold; font-size: 13px; text-decoration: none; color: rgb(0,0,0); background-color: #FFC000; }
div.message-inline { padding: 3px 6px 2px 4px; margin-top: 8px; }
div.message-container { padding: 6px 8px 5px 8px; margin: 10px auto 20px; border: 1px solid gray; box-shadow: 2px 2px 2px darkgray; max-width: 584px; }

/*   Lists   */

div.ul1, div.ul2, .form-container { margin: 30px auto 0; max-width: 450px; text-align: left; }
ul.ul1, ul.ul2 { margin: 5px 0; background-color: rgb(208,236,242); border-radius: 5px; }
ul.ul1 { padding-top: 7px; padding-bottom: 8px; border: 1px solid navy; }
ul.ul2 { padding-top: 5px; padding-bottom: 5px; border: 1px solid rgb(125,150,180); }
.form-container { padding: 5px 5px 5px 10px; background-color: rgb(208,236,242); border: 1px solid navy; border-radius: 5px; max-width: 435px; }

/* --- Searchbox --- */

div#searchform { position: absolute; top: 5px; right: 18px; border: 1px solid steelblue; overflow: hidden; }
div#searchhandle { float: right; padding-top: 1px; padding-right: 3px; text-align: right; }
div.searchform-big { width: 400px; padding: 0 0 6px 3px; background: azure; }
div.searchform-small { width: 60px; padding: 0; background: azure; }
div.searchform-small-active { width: 60px; padding: 0; background: rgb(255,240,50); font-weight: bold; }
div#searchform_content { display: none; }
div.searchform-row { padding-bottom: 6px; padding-top: 2px; }

/* --- Calendar Popup --- */

div#calendarDiv { position: absolute; visibility: hidden; background-color: white; }
table.cpBorder {  }
td.cpMonthNavigation {  }
select.cpMonthNavigation {  }
td.cpYearNavigation {  }
select.cpYearNavigation {  }
td.cpDayColumnHeader {  }
span.cpDayColumnHeader {  }
td.cpOtherMonthDate {  }
a.cpOtherMonthDate {  }
td.cpCurrentMonthDate {  }
a.cpCurrentMonthDate {  }
td.cpTodayText {  }
a.cpTodayText {  }

/* --- Miscellaneous --- */

span.link-list-item { padding-right: 12px; }
span.link-list-item a { color: midnightblue; font-weight:bold; }
span.link-list-item a.active-entry { color: darkred; }

.header1   { font-weight: bold; font-size: 16px; text-decoration: underline; }
.header2   { font-weight: bold; font-size: 16px; text-decoration: none; margin: auto; }
.header3   { font-weight: bold; font-size: 14px; text-decoration: none; }
.normal1   { font-weight: normal; font-size: 13px; text-decoration: none; }
.normal2   { font-weight: bold; font-size: 13px; text-decoration: none; }
.normal3   { font-weight: normal; font-size: 14px; text-decoration: none; }
.sub1      { font-weight: normal; font-size: 12px; text-decoration: none; }
.sub2      { font-weight: normal; font-size: 10px; text-decoration: none; }

/* --- Menu --- */

section#main { padding-left: 150px; }
.vertical-menu-panel { width: 140px; height: 100%; padding: 10px 5px 0 5px; font-size: 12px; z-index: 99; }
.vertical-menu-panel { background-image: url('../images/backgrounds/bg_blue_1.gif'); background-repeat: repeat-x; background-color: lightblue; }
.vertical-menu-panel { background: linear-gradient(180deg, rgb(86,161,214) 5%, rgb(198,224,242) 95%); }
div.vertical-menu-panel { float: left; }

div.menu-header { font-weight: bold;  border-bottom: 1px solid black; border-top: 1px solid black; padding: 1px 0 1px 2px; }
div.menu-header { background-image: url('../images/backgrounds/bg_lightblue_1.gif'); background-repeat: repeat-x; background-color: aliceblue; }
div.menu-header { background: linear-gradient(180deg, #68B6FF 5%, #ECF6FE 95%); }

div.submenu-header { border-bottom: 1px solid black; border-top: 1px solid black; padding: 1px 0 1px 2px; margin: 2px 0 1px 0; }
div.submenu-header { background-image: url('../images/backgrounds/bg_lightblue_1.gif'); background-repeat: repeat-x; background-color: aliceblue; }
div.submenu-header { background: linear-gradient(180deg, #68B6FF 5%, #ECF6FE 95%); }

div.menu-entry { padding: 1px 0 1px 4px; }
div.menu-entry a:link, div.menu-entry a:visited, div.menu-entry a:active { color: rgb(0,0,50); text-decoration: none; }
div.last-entry { border-bottom: 1px solid black; padding-bottom: 3px !important; margin-bottom: 1px; }
div.menu-entry a:hover { color: rgb(0,0,50); text-decoration: underline; }
div.menu-active { background-color: paleturquoise; background-image:url('../images/backgrounds/menu_active_2.gif'); background-repeat: no-repeat; background-position: right center; }


/* Responsive Navigation */

nav#desktop {
    position: absolute; top: 0; left: 0; z-index: 99;
}

.nav {
    width:100%;
    background-color: slategray;
    border-bottom: 1px solid #ccc;
    text-align: right;
    position: relative;
    font-size: 14px;
}
.nav:after { clear: both; }

ul.simple-toggle { list-style: none; padding: 0; margin: 0; font-weight: bold; text-align: center; }
ul.simple-toggle li { display: inline-block; text-align: left; margin: 0; }
ul.simple-toggle li a { display: block; padding: 15px 10px; text-decoration: none; color: #444; }
ul.simple-toggle li a:hover { background-color: #ccc; }
ul.simple-toggle { display: none; }

a.anchor-link {
    text-align: right;
    padding: 10px 15px;
    text-decoration: none;
    margin: 1px;
    font-weight: bold;
    display: none;
}
a.anchor-link:link, a.anchor-link:visited, a.anchor-link:active {
    color: white;
}

.form-container { position: relative; }
#yubikey_otp { display: none; }
.yubikey-switch { position: absolute; bottom: 10px; right: 10px; width: 24px; height: 24px; margin: 0; padding: 0; }

@media (max-width: 48.000em) {

    section#main { padding-left: 0; }
    .vertical-menu-panel { display: none; }
    a.anchor-link { display: block; }

    ul.open {
        background-color: #F0F0F0;
        box-shadow: 2px 2px 3px #444444;
        display: block;
        list-style: none outside none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 5px;
        top: 100%;
        width: 70%;
        z-index: 500;
        border-bottom: 1px solid black;
    }
    ul.open li { display: block; list-style: none; text-align: center; border-top: 1px solid #ccc; }
    ul.open li a { display: block; padding: 20px 10px; text-decoration: none; }
    ul.open li a:hover { background-color: #FAFAFA; text-decoration: underline; }

    ul.open li.menu-header { font-weight: bold;  border-top: 1px solid black; padding: 15px 10px; margin: 0; }
    ul.open li.menu-header { background-color: lightsteelblue; }

    ul.open li.submenu-header { border-top: 1px solid black; padding: 15px 10px 15px 25px; margin: 0; }
    ul.open li.submenu-header { background-color: lightsteelblue; }

    ul.open li.menu-entry { margin: 0; }

    ul.open li.menu-entry a:link, li.menu-entry a:visited, li.menu-entry a:active {
        color: rgb(0,0,50); text-decoration: none;
    }

    ul.open li.menu-active { background-color: #EEBB33; }


    .main-content-area { min-width: 240px; }
    input,select,textarea { margin-top: 8px; margin-bottom: 8px; }
    input[type=radio] { vertical-align: baseline; }

}
