
body  { background-color: ivory; }

a:link     { color: rgb(0,0,96); }
a:visited  { color: rgb(0,0,96); }
a:hover    { color: rgb(0,0,96); }
a:active   { color: rgb(0,0,96); }

input.checkbox { vertical-align: middle; }

.nowrap { white-space: nowrap; }
.divider img { background-color: rgb(50,50,50); }
.highlight { background-color: rgb(255,165,50); }
.border-style-1 { border: 1px solid gray; box-shadow: 2px 2px 2px darkgray; }

.header1   { font-weight: bold; font-size: 16px; text-decoration: underline; }
.header2   { font-weight: bold; font-size: 16px; text-decoration: none; margin: auto; }
.header3   { font-weight: bold; font-size: 14px; text-decoration: none; }
.normal1   { font-weight: normal; font-size: 13px; text-decoration: none; }
.normal2   { font-weight: bold; font-size: 13px; text-decoration: none; }
.normal3   { font-weight: normal; font-size: 14px; text-decoration: none; }
.sub1      { font-weight: normal; font-size: 12px; text-decoration: none; }
.sub2      { font-weight: normal; font-size: 10px; text-decoration: none; }

/*   Logo   */

.logo-container { width: 134px; border: 1px solid slategray; border-radius: 4px; overflow: hidden; margin: 20px auto; }
.svblogo { background-color: white; padding: 3px; }
.logo-subtitle { background-color: #555555; color: white; font-size: 12px; font-weight: bold; text-align: center; }

/*   Tables   */

td { font-size: 13px; }

table.outer-table { background-color: rgb(208,236,242); border: 1px solid gray; box-shadow: 2px 2px 2px darkgray; border-collapse: collapse; margin: auto; min-width: 450px; }
table.outer-table > tbody > tr > td { border: 1px solid gray; padding: 4px; }
table.outer-table > thead > tr { background-color: #555555; }
table.outer-table th { color: white; padding: 4px 5px 4px 5px; font-weight: bold; font-size: 14px; }
table.outer-table a:link     { color: rgb(0,0,96); }
table.outer-table a:visited  { color: rgb(20,0,96); }
table.outer-table a:hover    { color: rgb(16,16,192); }

table.inner-table { border: 1px solid black; border-collapse: collapse; background-color: rgb(190,220,230); }
table.inner-table td { border-top: 1px solid black; border-bottom: 1px solid black; }

.form-table td { padding: 4px 5px 4px 2px; }

table.format-ergebnisliste { table-layout: fixed; width: 950px; }
table.format-ergebnisliste td.first-col { width: 195px; }
table.format-ergebnisliste td.middle-col { width: 500px; }

.form-veranstaltung { max-width: 600px; }

/*   Lists   */

div.ul1, div.ul2, .form-container { margin: 30px auto 0; max-width: 450px; text-align: left; }
ul.ul1, ul.ul2 { margin: 5px 0; background-color: rgb(208,236,242); border-radius: 5px; }
ul.ul1 { padding-top: 7px; padding-bottom: 8px; border: 1px solid navy; }
ul.ul2 { padding-top: 5px; padding-bottom: 5px; border: 1px solid rgb(125,150,180); }
.form-container { padding: 5px 5px 5px 10px; background-color: rgb(208,236,242); border: 1px solid navy; border-radius: 5px; max-width: 435px; }

/*   Error Messages   */

.message-user, .message-admin { font-weight: bold; font-size: 13px; text-decoration: none; color: rgb(0,0,0); background-color: #FFC000; }
div.message-inline { padding: 3px 6px 2px 4px; margin-top: 8px; }
div.message-container { padding: 6px 8px 5px 8px; margin: 10px auto 20px; border: 1px solid gray; box-shadow: 2px 2px 2px darkgray; max-width: 584px; }

@media (max-width: 48.000em) {
    table.outer-table { min-width: 100px; }
}